.sm-icons {
    flex-direction: row;
}

.sm-icons li{
    margin-right: 10px;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

.navbar{
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}