.content{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.profile img{
    height: 40vh;
    width: 43vh;
    
}

.row .name{
    font-size: 17mm;
    font-weight: 900;
    text-transform: uppercase;
}

.surname{
    color: #D4AC0D;
}

@media screen and (max-width: 1199px) {
    .col-md-4 {
      width: 100% !important;
    }
    .col-md-3 {
        width: 100% !important;
    }
    .col-md-5 {
    width: 100% !important;
    }
  }