.content{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.content-head{
    font-weight: 400;
    text-decoration: solid underline #D4AC0D 4px;
    text-underline-position: under;
}

.certification{
    padding-top: 5vh;
    color: #424949;
}

.certification li{
    position: relative;
    list-style-type: none;
}

.certification li i{
    padding-right: 10px;
}