.content{
    padding-bottom: 5vh;
}

.main{
    padding-top: 5vh;
}

.content-head{
    padding-top: 5vh;
    font-weight: 400;
    text-decoration: solid underline #D4AC0D 4px;
    text-underline-position: under;
}

.title{
    color: #000080;
}

.year{
    color: #000080;
    text-align: end;
    font-size: 23px;
}

.university{
    font-style: italic;
}

.score{
    padding-top: 3vh;
}