.main{
    padding-top: 5vh;
}

.title{
    color: #000080;
}

.year{
    color: #000080;
    text-align: end;
    font-size: 23px;
}

.university{
    font-style: italic;
}

.score{
    padding-top: 3vh;
}