.content{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.head{
    padding-top: 5vh;
}

.content-head{
    font-weight: 400;
    text-decoration: solid underline #D4AC0D 4px;
    text-underline-position: under;
}

.company{
    font-style: italic;
}

.year{
    color: #000080;
    text-align: end;
}

.title{
    color: #000080;
}

.desc{
    padding-top: 3vh;
}