.content{
    padding-bottom: 5vh;
}

.content-head{
    padding-top: 5vh;
    font-weight: 400;
    text-decoration: solid underline #D4AC0D 4px;
    text-underline-position: under;
}

.title{
    padding-top: 5vh;
    color: #000080;
}

.desc{
    padding-top: 3vh;
    color: #4D5656;
}