{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/my_icon.svg' %}" alt="" width="50" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'experience' %}active{% endif %}" href="/experience">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'education' %}active{% endif %}" href="/education">EDUCATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'skills' %}active{% endif %}" href="/skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'projects' %}active{% endif %}" href="/projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CERTIFICATIONS</a>
                </li>
            </ul>
            <ul class="navbar-nav sm-icons mr-0">
                <li class="nav-item">
                    <a class="nav-link" href="mailto:iamjoseph1998@gmail.com" target="_blank">
                        <i class="fa-regular fa-envelope fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/iamjoseph1998" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/iamjoseph1998/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>