{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/certifications.css' %}">
{% endblock %}

{% block title %}Certifications{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">CERTIFICATIONS</h4>
    </div>
    <div class="row certification">
        {% if cert_data %}
        <ul>
            {% for cert in cert_data %}
            <h5>
                <li>
                    <span>
                        <i class="fa-solid fa-award"></i>
                    </span>
                    {{ cert.certificate_name }}
                </li>
            </h5>
            {% endfor %}
        </ul>
        {% else %}
            <h5>No certifications done yet!</h5>
        {% endif %}
    </div>
</div>
{% endblock %}