{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/education.css' %}">
{% endblock %}

{% block title %}Education{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">EDUCATION</h4>
    </div>
    {% for degree in edu_data %}
    <div class="row main">
        <div class="col-6 col-xs-6">
            <h5 class="title">{{ degree.degree_name }}</h5>
        </div>
        <div class="col-6 col-xs-6">
            <h5 class="year">{{ degree.start_year }} - {% if degree.current_pursuing %}Present{% else %}{{ degree.end_year }}{% endif %}</h5>
        </div>
    </div>
    <div class="row">
        <h5 class="university">{{ degree.university }}</h5>
    </div>
    <div class="row">
        <h6 class="score">Percentage: {{ degree.percentage }}%</h6>
    </div>
    {% endfor %}
</div>
{% endblock %}