{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/experience.css' %}">
{% endblock %}

{% block title %}Experience{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">EXPERIENCE</h4>
    </div>
    {% for exp in exp_data %}
    <div class="row head">
        <div class="col-6 col-xs-6">
            <h5 class="title">{{ exp.designation }}</h5>
        </div>
        <div class="col-6 col-xs-6">
            <h5 class="year">{{ exp.joined }} - 
                {% if exp.current_working %}Present
                {% else %}{{ exp.resigned }}
                {% endif %}
            </h5>
        </div>
    </div>
    <div class="row">
        <h5 class="company">{{ exp.company_name }}</h5>
    </div>
    <div class="row desc">
        <p>
            {{ exp.description }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}