{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/experience.css' %}">
{% endblock %}

{% block title %}Experience{% endblock %}

{% block content %}
<div class="container">
    <div class="row head">
        <div class="col-6 col-xs-6">
            <h4 class="title">Programmer</h4>
        </div>
        <div class="col-6 col-xs-6">
            <h5 class="year">Oct 2019 - Present</h5>
        </div>
    </div>
    <div class="row">
        <h5 class="company">Tata Consultancy Services</h5>
    </div>
    <div class="row">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium enim nobis inventore aspernatur architecto quisquam ab blanditiis ea corrupti exercitationem consequuntur, explicabo voluptate tenetur perferendis, hic illo voluptas porro a?
        </p>
    </div>
</div>
{% endblock %}