{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">PROJECTS</h4>
    </div>
    <!--Project-->
    {% if proj_data %}
        {% for proj in proj_data %}
        <div class="row title">
            <h5>{{ proj.project_name }} 
                {% if proj.currently_working %} ( In progress )
                {% endif %} 
                {% if proj.proj_github_link %}
                    <span>
                        <a href="{{ proj.proj_github_link }}" target="_blank">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                    </span>
                {% endif %}
            </h5>
        </div>
        <div class="row">
            <h5>Technology used: {{ proj.tech_used }}</h5>
        </div>
        <div class="row desc">
            <h5>{{ proj.description }}</h5>
        </div>
        {% endfor %}
    {% else %}
        <div class="row title">
            <h5>No projects to display!</h5>
        </div>
    {% endif %}
</div>
{% endblock %}