{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/skills.css' %}">
{% endblock %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">SKILLS</h4>
    </div>
    <div class="row">
        <!--Languages-->
        <div class="col-4 main">
            <h4 class="heading">Programming Languages</h4>
            <div class="row items">
                <h5>Python</h5>
            </div>
        </div>
        <!--Framework-->
        <div class="col-4 main">
            <h4 class="heading">Frameworks</h4>
            <div class="row items">
                <h5>Django</h5>
                <h5>Flask</h5>
                <h5>Bootstrap</h5>
            </div>
        </div>
        <!--Frontend-->
        <div class="col-4 main">
            <h4 class="heading">Frontend Technology</h4>
            <div class="row items">
                <h5>HTML5</h5>
                <h5>CSS3</h5>
                <h5>JavaScript</h5>
            </div>
        </div>
        <!--Database-->
        <div class="col-4 main">
            <h4 class="heading">Database Technology</h4>
            <div class="row items">
                <h5>MySQL</h5>
            </div>
        </div>
        <!--Source Control-->
        <div class="col-4 main">
            <h4 class="heading">Source Control</h4>
            <div class="row items">
                <h5>Git</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}