{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/skills.css' %}">
{% endblock %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <h4 class="content-head">SKILLS</h4>
    </div>
    <div class="row">
        <!--Languages-->
        {% for category in category_list %}
        <div class="col-4 main">
            <h5 class="heading">{{ category }}</h5>
            <div class="row items">
                {% for skill in skill_data %}
                    {% if skill.category == category %}
                        <h5>{{ skill.skill }}</h5>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}